.config/coc
.config/configstore
.config/mutt/accounts/*
.!config/mutt/account/account.example
.config/mutt/cache
.config/mutt/tmp
.config/pgcli/history
.config/pgcli/log
.config/vifm/vifminfo
.mbsyncrc
