.config/coc
.config/configstore
.config/mutt/accounts/*
!.config/mutt/accounts/example
.config/mutt/cache
.config/mutt/tmp
.config/pgcli/history
.config/pgcli/log
.config/vifm/vifminfo
.mbsyncrc
.config/gh
.config/vifm/vifminfo.json
