#################################
######## Account example ########
#################################

IMAPAccount example
Host imap.gmail.com
User example@gmail.com
PassCmd "security find-generic-password -a 'example@gmail.com' -s 'example@gmail.com'  -w"
SSLType IMAPS
SSLVersions TLSv1.2
AuthMechs LOGIN

# Remote storage
IMAPStore example-remote
Account example

# Local storage
MaildirStore example-local
Path ~/Mail/example/
Inbox ~/Mail/example/INBOX
Subfolders Verbatim
Flatten .

Channel example
Master :example-remote:
Slave :example-local:
Patterns * !"[Gmail]/All Mail"
Create Both
Expunge Both
SyncState *
